# EAS Build ignore (overrides .gitignore)
# .env is intentionally NOT ignored here so it's included in builds

node_modules/
.expo/
dist/
web-build/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.tsbuildinfo
/ios
/android
